@charset "utf-8";

.shippori-mincho-b1-regular {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
}body{
    font-family: sans-serif;
    background-color: #fdf5e6;
}
.background{
    background-color: rgb(140, 181, 185);
}
.title h1{
    text-align: center;
    font-family: "Shippori Mincho B1", serif;
}
.map {
    position: relative;
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
.map iframe {
    display: block;
    width: 100%;
    height: 600px;
    margin-top: 25px;
}
.map img{
    position: absolute;
        top: 70px;
        left: 10px;
        background: white;
        padding: 10px;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        width: 264px;
}
.map h2{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
hr{
    margin: 50px;
}

/* ヘッダー */
.header {
    font-size: 21.3px; /* 例として18pxに設定 */
}
/* フッター */
.footer {
    font-size: 21.3px; /* 例として16pxに設定 */
}

@media (max-width: 800px) {
    .background{
        padding-top: 50px;
    }
}